.image-grid {
    display: grid;
    grid-template-columns: repeat(auto, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .image-grid img {
    max-width: 200px;
    height: 200px;
    display: block;
  }